.button {
  user-select: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
  background: #fff;
  color: #303030;
}

.button:hover {
  cursor: pointer;
  background: sandybrown;
}
