.timer {
  margin: 10px auto;
  display: inline-flex;
  align-items: center;
}

.timerDisplay {
  display: inline-block;
  width: 160px;
  height: 80px;
  border-radius: 40px;
  font-size: 60px;
  text-align: center;
  margin: 0 10px;
  background: #fff;
  color: #303030;
  font-weight: normal;
}
